{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Hello World Mock Server on kubernetes</h1>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form class="form-inline">
    
      <div class="form-group" style="display:inline-flex;">
        <label style="margin:5px 10px; ">name:</label>
        <input type="text" class="form-control" name="name" id="add_name" placeholder="name">
        <label style="margin:5px 10px;">value:</label>
        <input type="text" class="form-control" name="value" id="add_value" placeholder="value">
      </div>
      <button type="submit" class="btn btn-primary add_btn">Add</button>
    </form>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>name</th>
          <th>value</th>
        </tr>
      </thead>
      <tbody class="api_table">

      </tbody>
    </table>
  </div>
  
</div>
{% endblock content %}

{% block javascript %}
<script>
  // read data
    $(document).ready(function(){
        search();
    });
    $(document).on('click', '.add_btn', function() {
        var form_data = new FormData();
        form_data.append('name', $('#add_name').val());
        form_data.append('value', $('#add_value').val());
        create(form_data);
    });
    function search(){
        $.ajax({
            url: "{{ request.route_url('api')}}",
            type: 'GET',
                contentType: false,
                processData: false,

            beforeSend: function () {
            },
            error: function (xhr) {
                alert('Ajax request 發生錯誤');
             },
            success: function (response) {
                if (response['status']) {
                    {#alert("搜尋成功");#}
                    $('.api_table tr').remove();
                    var html = "";
                    response['response'].forEach(function (value, index) {
                        html +="<tr><td>"+value['name']+"</td><td>"+value['value']+"</td></tr>"
                    });
                    $('.api_table').append(html);
                    console.log(response);

                } else {
                }
            },
            complete: function () {
            }
        });
    }
    function create(form_data) {
        $.ajax({
            url: "{{ request.route_url('api')}}",
            type: 'POST',
                data: form_data,
                contentType: false,
                processData: false,

            beforeSend: function () {
                $('.add_btn').attr('disabled', true);
            },
            error: function (xhr) {
                alert('Ajax request 發生錯誤');
             },
            success: function (response) {
                if (response['status']) {
                    {#alert("創建成功");#}
                    console.log(response);
                    $('.add_btn').attr('disabled', false);
                } else {
                  $('.add_btn').attr('disabled', false);
                }
            },
            complete: function () {
              $('.add_btn').attr('disabled', false);
              search()
            }
        });
    }
</script>
{% endblock javascript %}


